body{
    margin: 0;
    font-weight: bold;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url("images/subway.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 5em;
    margin-top: 300px;
    margin-bottom: 20px;
}
h2{
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 100px;
    color:black
}
button{
    margin-top: 0;
    margin-bottom: 5px;
    width: 300px;
    height: 60px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-size: 2em;
}
#increament-btn{
    background-color:red;
    margin-top: 0;
}
#save-btn{
    background-color: darkgreen;
}
p{
    margin-top: 30px;
    font-size: 3.5em;
}